<div class="row">
  <div class="col s12 m6 offset-m3">
    <div *ngIf="form" class="card">
      <div class="card-image">
        <img src="assets/img/shop.svg" width="auto" height="150px">
      </div>
      <div class="card-content">
        <form [formGroup]="form">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="username" formControlName="username">
              <label for="username" [class.active]="form.get('username').value != null">username</label>
              <small class="red-text" *ngIf="form.get('username').invalid && form.get('username').touched">
                This field is required
              </small>
            </div>
            <div class="input-field col s12">
              <input type="password" id="password" formControlName="password">
              <label for="password" [class.active]="form.get('password').value != null">Password</label>
              <small class="red-text" *ngIf="form.get('password').invalid && form.get('password').touched">
                This field is required
              </small>
            </div>
          </div>
        </form>
      </div>
      <div class="card-action d-flex justify-content-flex-end">
        <div class="p-1">
          <button class="btn waves-effect green" [disabled]="form.invalid" (click)="login()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>